<h4 class="thanks">
  <%= @product.name %>
</h4>

<div  data-product-id="<%= @product.id %>">
  <div class="col-md-5">

    <%= image_tag(@product.image_url, width: "500", class: "img-responsive img-thumbnail img_zoom", data_zoom_image: @product.image_url) %>

    <p class="products_description">
      <strong>Description:</strong>
      <%= @product.description %>
    </p>
    <p class="products_price">
      <strong>Price: €</strong>
      <%= @product.price_in_cents %>
    </p>
     <div>
  <%= button_to 'Order Now', orders_path(product_id: @product.id, total: @product.price_in_cents), class: "btn btn-lg btn-fill btn-info" %></div>
    <% if user_signed_in? %>
      <%= form_with(url: '/payments/create') do |form| %>
        <%= render partial: "shared/stripe_checkout_button" %>
        <%= hidden_field_tag(:product_id, @product.id) %>
      <% end %>
    <% else %>
      <%= link_to("Log in to Buy", new_user_session_path, class: "btn btn-info") %>
    <% end %>
  </div> <!--col-->

  <div class="col-md-5 col-md-offset-2">
    <p>Average Rating:
      <div class="rated" id="avg-rating" data-score="<%= @product.average_rating %>"></div>
    </p>

    <hr>

    <%= render 'new_comment' %>
    <div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
    <%= render 'comments' %>

    <%= will_paginate @comments%>
  </div> <!--col-->
</div> 
<p>
  <% if signed_in? && current_user.admin? %>
    <%= link_to 'Edit', edit_product_path(@product) %> | <%= link_to 'Destroy', @product, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <% end %>
  <%= link_to 'Back', products_path %>
<p>